<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #f0f8ff;
        margin: 0;
        padding: 20px;
      }
      h1 {
        color: #333;
      }
      a {
        display: block;
        margin: 10px;
        color: #0066cc;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <h1>Task Manager</h1>
    <a href="{{url_for('login')}}">Login Page</a>
    <a href="{{url_for('register')}}">Register Page</a>
  </body>
</html>
